body{
    background-image: url("img/litbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    font-weight: 400;
    font-style: normal;
    font-size: 103px;
    color:aliceblue;
    align-content: center;
}
#summonRank_data_Snowsayshi{
    color: aliceblue;
}


